<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    Hi Admin!
    <h1>Student List</h1>

    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>College ID</th>
        <th>Mentor ID</th>
        <th>Level</th>
        <th>Marks</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {{ range .Students }}
      <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Email }}</td>
        <td>{{ .CollageID }}</td>
        <td>{{ .MentorID }}</td>
        <td>{{ .Level }}</td>
        <td>{{ .Marks }}</td>
        <td><button>Edit</button></td>
        <td><button>Delete</button></td>
      </tr>
      {{ end }}
    </table>
    <button hx-post="/logout" hx-ext="redirectToResponseUrl">Log out</button>

    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script>
      htmx.defineExtension('redirectToResponseUrl', {
        transformResponse: function (text, xhr) {
          globalThis.document.location = xhr.responseURL
          return 'Logging out....'
        },
      })
    </script>
  </body>
</html>
